.text-style {
    font-family: segoe print, serif
}

.alert-arrow {
    border: 1px solid #60c060;
    color: #54a754;
}

.alert-arrow .alert-icon {
    position: relative;
    width: 3rem;
    background-color: #60c060;
}

.alert-arrow .alert-icon::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: .75rem solid transparent;
    border-bottom: .75rem solid transparent;
    border-left: .75rem solid #60c060;
    right: -.75rem;
    top: 50%;
    transform: translateY(-50%);
}

.alert-arrow .close {
    font-size: 1rem;
    color: #cacaca;
}

/* primary */
.alert-arrow-primary {
    border: 1px solid #4d90fd;
    color: #3a8ace;
}

.alert-arrow-primary .alert-icon {
    background-color: #4d90fd;
}

.alert-arrow-primary .alert-icon::after {
    border-left: .75rem solid #4d90fd;
}

/* warning */
.alert-arrow-warning {
    border: 1px solid #fc9700;
    color: #d68000;
}

.alert-arrow-warning .alert-icon {
    background-color: #fc9700;
}

.alert-arrow-warning .alert-icon::after {
    border-left: .75rem solid #fc9700;
}

/* danger */
.alert-arrow-danger {
    border: 1px solid #da4932;
    color: #ca452e;
}

.alert-arrow-danger .alert-icon {
    background-color: #da4932;
}

.alert-arrow-danger .alert-icon::after {
    border-left: .75rem solid #da4932;
}

