<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="FATAL">

    <Appenders>
        <Console name="console">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %C{5} %M %msg%n"/>
        </Console>
        <RollingFile name="errorLogFile" fileName="logs/logErrorLevel/errorLog.log"
                     filePattern="logs/logErrorLevel/errorLog-%d{yyyy-MM-dd}.log"
                     ignoreExceptions="false">
            <PatternLayout pattern="%d{dd::MM::yyyy HH:mm:ss} [%t] %-5level %C{5} %M %msg%n"/>
            <SizeBasedTriggeringPolicy size="2MB"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
        <RollingFile name="infoLogFile" fileName="logs/logInfoLevel/infoLog.log"
                     filePattern="logs/logInfoLevel/infoLog-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{dd::MM::yyyy HH:mm:ss} [%t] %-5level %C{5}  %M %msg%n"/>
            <SizeBasedTriggeringPolicy size="2MB"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
        <RollingFile name="debugLogFile" fileName="logs/logDebugLevel/debugLog.log"
                     filePattern="logs/logDebugLevel/debugLog-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{dd::MM::yyyy HH:mm:ss} [%t] %-5level %C{5}  %M %msg%n"/>
            <SizeBasedTriggeringPolicy size="2MB"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="debug" level="debug">
            <AppenderRef ref="debugLogFile"/>
        </Logger>
        <Logger name="error" level="error">
            <AppenderRef ref="errorLogFile"/>
            <AppenderRef ref="infoLogFile"/>
        </Logger>
        <Logger name="info" level="info">
            <AppenderRef ref="infoLogFile"/>
        </Logger>

        <Root level="All">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>

</Configuration>
